.memo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: aqua;
  color: brown;
}

.memo-total {
  background-color: whitesmoke;
  margin: 3rem;
  padding: 1rem;
}

.memo-must {
  background-color: greenyellow;
  margin: 1rem;
  padding: 2rem;
}

.memo-may {
  background-color: lightblue;
  margin: 1rem;
  padding: 2rem;
}
